<div class="flex justify-around">
  <%= link "Edit", to: Routes.character_path(@conn, :edit, @character), class: "waves-effect waves-light btn mr-20" %>
  <%= link "Back", to: Routes.character_path(@conn, :index), class: "waves-effect waves-light btn" %>
</div>
