<h4>Edit Character</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.character_path(@conn, :update, @character)) %>

<div class="left">
  <%= link "Delete Entry", to: Routes.character_path(@conn, :delete, @character), method: :delete, data: [confirm: "Are you sure?"], class: "waves-effect waves-light btn red" %>
</div>
